In [1]:
# import packages
import os
import json
import pandas as pd
import pymysql
import plotly.express as px
import requests
import streamlit as st
from streamlit_option_menu import option_menu

In [2]:
#mysql connection
connection = pymysql.connect(
host="localhost",
user="root",
password="adhi",
database="phonepe"
)
connect_data=connection.cursor()

### Retrive the datas in phonepe files

In [3]:
#aggregated insurance
aggre_connect1="C:/Users/study/Downloads/vs code/phonepe/pulse/data/aggregated/insurance/country/india/state/"
aggre_insu_list=os.listdir(aggre_connect1)


aggre_columns1={"states":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}
for state in aggre_insu_list:
    cur_states=aggre_connect1+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            ai=json.load(data)

            for i in ai["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                aggre_columns1["Transaction_type"].append(name)
                aggre_columns1["Transaction_count"].append(count)
                aggre_columns1["Transaction_amount"].append(amount)
                aggre_columns1["states"].append(state)
                aggre_columns1["Years"].append(year)
                aggre_columns1["Quarter"].append(int(file.strip(".json")))
                
aggre_insurance=pd.DataFrame(aggre_columns1)

aggre_insurance["states"]=aggre_insurance["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
aggre_insurance["states"]=aggre_insurance["states"].str.replace('-',' ')
aggre_insurance["states"]=aggre_insurance["states"].str.title()
aggre_insurance["states"]=aggre_insurance["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
aggre_insurance

In [5]:
#aggregate_transaction
aggre_connect2="C:/Users\study/Downloads/vs code/phonepe/pulse/data/aggregated/transaction/country/india/state/"
aggre_tran_list=os.listdir(aggre_connect2)

aggre_columns2={"states":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for state in aggre_tran_list:
    cur_states=aggre_connect2+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            at=json.load(data)

            for i in at["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                aggre_columns2["Transaction_type"].append(name)
                aggre_columns2["Transaction_count"].append(count)
                aggre_columns2["Transaction_amount"].append(amount)
                aggre_columns2["states"].append(state)
                aggre_columns2["Years"].append(year)
                aggre_columns2["Quarter"].append(int(file.strip(".json")))

aggre_transaction=pd.DataFrame(aggre_columns2)

aggre_transaction["states"]=aggre_transaction["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
aggre_transaction["states"]=aggre_transaction["states"].str.replace('-',' ')
aggre_transaction["states"]=aggre_transaction["states"].str.title()
aggre_transaction["states"]=aggre_transaction["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
aggre_transaction

In [7]:
#aggregate_user
aggre_connect3="C:/Users/study/Downloads/vs code/phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list=os.listdir(aggre_connect3)

aggre_columns3={"states":[],"Years":[],"Quarter":[],"Brands":[],"Transaction_count":[],"Precentage":[]}

for state in agg_user_list:
    cur_states=aggre_connect3+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            au=json.load(data)

            try:
                for i in au["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    aggre_columns3["Brands"].append(brand)
                    aggre_columns3["Transaction_count"].append(count)
                    aggre_columns3["Precentage"].append(percentage)
                    aggre_columns3["states"].append(state)
                    aggre_columns3["Years"].append(year)
                    aggre_columns3["Quarter"].append(int(file.strip(".json")))
            except:
                pass


aggre_user=pd.DataFrame(aggre_columns3)

aggre_user["states"]=aggre_user["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
aggre_user["states"]=aggre_user["states"].str.replace('-',' ')
aggre_user["states"]=aggre_user["states"].str.title()
aggre_user["states"]=aggre_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
aggre_user

In [9]:
#map insurance
map_connect1="C:/Users\study/Downloads/vs code/phonepe/pulse/data/map/insurance/hover/country/india/state/"
map_insu_list=os.listdir(map_connect1)

map_columns1={"states":[],"Years":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}

for state in map_insu_list:
    cur_states=map_connect1+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)



        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            mi=json.load(data)

            for i in mi["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                map_columns1["Districts"].append(name)
                map_columns1["Transaction_count"].append(count)
                map_columns1["Transaction_amount"].append(amount)
                map_columns1["states"].append(state)
                map_columns1["Years"].append(year)
                map_columns1["Quarter"].append(int(file.strip(".json")))

map_insurance=pd.DataFrame(map_columns1)

map_insurance["states"]=map_insurance["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
map_insurance["states"]=map_insurance["states"].str.replace('-',' ')
map_insurance["states"]=map_insurance["states"].str.title()
map_insurance["states"]=map_insurance["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
map_insurance

In [11]:
#map transanctions
map_connect2="C:/Users/study/Downloads/vs code/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(map_connect2)

map_columns2={"states":[],"Years":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}

for state in map_trans_list:
    cur_states=map_connect2+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            mt=json.load(data)

            for i in mt["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                map_columns2["Districts"].append(name)
                map_columns2["Transaction_count"].append(count)
                map_columns2["Transaction_amount"].append(amount)
                map_columns2["states"].append(state)
                map_columns2["Years"].append(year)
                map_columns2["Quarter"].append(int(file.strip(".json")))

map_transanction=pd.DataFrame(map_columns2)

map_transanction["states"]=map_transanction["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
map_transanction["states"]=map_transanction["states"].str.replace('-',' ')
map_transanction["states"]=map_transanction["states"].str.title()
map_transanction["states"]=map_transanction["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
map_transanction

In [13]:
#map user
map_connect3="C:/Users/study/Downloads/vs code/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(map_connect3)

map_columns3={"states":[],"Years":[],"Quarter":[],"Districts":[],"RegisteredUsers":[],"AppOpens":[]}
for state in map_user_list:
    cur_states=map_connect3+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            mu=json.load(data)

            for i in mu["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                map_columns3["Districts"].append(district)
                map_columns3["RegisteredUsers"].append(registeredUsers)
                map_columns3["AppOpens"].append(appOpens)
                map_columns3["states"].append(state)
                map_columns3["Years"].append(year)
                map_columns3["Quarter"].append(int(file.strip(".json")))
         
map_user=pd.DataFrame(map_columns3)

map_user["states"]=map_user["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
map_user["states"]=map_user["states"].str.replace('-',' ')
map_user["states"]=map_user["states"].str.title()
map_user["states"]=map_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
map_user

In [15]:
#top insurance

top_connect1="C:/Users/study/Downloads/vs code/phonepe/pulse/data/top/insurance/country/india/state/"
top_insu_list=os.listdir(top_connect1)

top_columns1={"states":[],"Years":[],"Quarter":[],"pincodes":[],"Transaction_count":[],"Transaction_amount":[]}

for state in top_insu_list:
    cur_states=top_connect1+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            ti=json.load(data)

            for i in ti["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_columns1["pincodes"].append(entityname)
                top_columns1["Transaction_count"].append(count)
                top_columns1["Transaction_amount"].append(amount)
                top_columns1["states"].append(state)
                top_columns1["Years"].append(year)
                top_columns1["Quarter"].append(int(file.strip(".json")))

top_insurance=pd.DataFrame(top_columns1)

top_insurance["states"]=top_insurance["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
top_insurance["states"]=top_insurance["states"].str.replace('-',' ')
top_insurance["states"]=top_insurance["states"].str.title()
top_insurance["states"]=top_insurance["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
top_insurance

In [17]:
#top transaction
top_connect2="C:/Users/study/Downloads/vs code/phonepe/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(top_connect2)

top_columns2={"states":[],"Years":[],"Quarter":[],"pincodes":[],"Transaction_count":[],"Transaction_amount":[]}

for state in top_trans_list:
    cur_states=top_connect2+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            tt=json.load(data)

            for i in tt["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_columns2["pincodes"].append(entityname)
                top_columns2["Transaction_count"].append(count)
                top_columns2["Transaction_amount"].append(amount)
                top_columns2["states"].append(state)
                top_columns2["Years"].append(year)
                top_columns2["Quarter"].append(int(file.strip(".json")))

top_transaction=pd.DataFrame(top_columns2)

top_transaction["states"]=top_transaction["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
top_transaction["states"]=top_transaction["states"].str.replace('-',' ')
top_transaction["states"]=top_transaction["states"].str.title()
top_transaction["states"]=top_transaction["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
top_transaction

In [19]:
#top user
top_connect3="C:/Users/study/Downloads/vs code/phonepe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(top_connect3)

top_columns3={"states":[],"Years":[],"Quarter":[],"pincodes":[],"RegisteredUsers":[]}

for state in top_user_list:
    cur_states=top_connect3+state+"/"
    year_list=os.listdir(cur_states)
    
    for year in year_list:
        cur_year=cur_states+year+"/"
        file_list=os.listdir(cur_year)

        for file in file_list:
            all_files=cur_year+file
            data=open(all_files,"r")
            tu=json.load(data)

            for i in tu["data"]["pincodes"]:
                entityname=i["name"]
                registeredUsers=i["registeredUsers"]
                top_columns3["pincodes"].append(entityname)
                top_columns3["RegisteredUsers"].append(registeredUsers)
                top_columns3["states"].append(state)
                top_columns3["Years"].append(year)
                top_columns3["Quarter"].append(int(file.strip(".json")))

top_user=pd.DataFrame(top_columns3)

top_user["states"]=top_user["states"].str.replace("andaman-&-nicobar-islands",'Andaman & Nicobar')
top_user["states"]=top_user["states"].str.replace('-',' ')
top_user["states"]=top_user["states"].str.title()
top_user["states"]=top_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
top_user

In [21]:
#create tables for aggregate
create_table1="""CREATE TABLE if not exists aggre_insurance(states varchar(255),
                                               years int,
                                               quarter int,
                                               Transaction_type varchar(255),
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table1)
connection.commit()

insert_query1='''INSERT INTO aggre_insurance(states, Years, Quarter,Transaction_type,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas1=aggre_insurance.values.tolist()
connect_data.executemany(insert_query1,datas1)
connection.commit() 

#transaction
create_table2="""CREATE TABLE if not exists aggre_transaction(states varchar(255),
                                               years int,
                                               quarter int,
                                               Transaction_type varchar(255),
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table2)
connection.commit()

insert_query2='''INSERT INTO aggre_transaction(states, Years, Quarter,Transaction_type,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas2=aggre_transaction.values.tolist()
connect_data.executemany(insert_query2,datas2)
connection.commit() 

#user
create_table3="""CREATE TABLE if not exists aggre_user(states varchar(255),
                                               years int,
                                               quarter int,
                                               Brands varchar(255),
                                               Transaction_count bigint,
                                               Precentage float)"""

connect_data.execute(create_table3)
connection.commit()

insert_query3='''INSERT INTO aggre_user(states, Years, Quarter,Brands,Transaction_count,Precentage)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas3=aggre_user.values.tolist()

connect_data.executemany(insert_query3,datas3)
connection.commit()

In [22]:
#create tables for map
create_table4="""CREATE TABLE if not exists map_insurance(states varchar(255),
                                               years int,
                                               quarter int,
                                               Districts varchar(255),
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table4)
connection.commit()

insert_query4='''INSERT INTO map_insurance(states, Years, Quarter,Districts,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas4=map_insurance.values.tolist()
connect_data.executemany(insert_query4,datas4)
connection.commit() 

#transaction
create_table5="""CREATE TABLE if not exists map_transaction(states varchar(255),
                                               years int,
                                               quarter int,
                                               Districts varchar(255),
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table5)
connection.commit()

insert_query5='''INSERT INTO map_transaction(states, Years, Quarter,Districts,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas5=map_transanction.values.tolist()
connect_data.executemany(insert_query5,datas5)
connection.commit() 

#user
create_table6="""CREATE TABLE if not exists map_user(states varchar(255),
                                               years int,
                                               quarter int,
                                               Districts varchar(255),
                                               RegisteredUsers bigint,
                                               AppOpens bigint)"""

connect_data.execute(create_table6)
connection.commit()

insert_query6='''INSERT INTO map_user(states, Years, Quarter,Districts,RegisteredUsers,AppOpens)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas6=map_user.values.tolist()
connect_data.executemany(insert_query6,datas6)
connection.commit()

In [23]:
#create tables for top
create_table7="""CREATE TABLE if not exists top_insurance(states varchar(255),
                                               years int,
                                               quarter int,
                                               pincodes bigint,
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table7)
connection.commit()

insert_query7='''INSERT INTO top_insurance(states, Years, Quarter,pincodes,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas7=top_insurance.values.tolist()
connect_data.executemany(insert_query7,datas7)
connection.commit() 


#transaction
create_table8="""CREATE TABLE if not exists top_transaction(states varchar(255),
                                               years int,
                                               quarter int,
                                               pincodes bigint,
                                               Transaction_count bigint,
                                               Transaction_amount bigint)"""

connect_data.execute(create_table8)
connection.commit()

insert_query8='''INSERT INTO top_transaction(states, Years, Quarter,pincodes,Transaction_count,Transaction_amount)
                                                                                           VALUES (%s,%s,%s,%s,%s,%s)'''

datas8=top_transaction.values.tolist()
connect_data.executemany(insert_query8,datas8)
connection.commit() 

#user
create_table9="""CREATE TABLE if not exists top_user(states varchar(255),
                                               years int,
                                               quarter int,
                                               pincodes bigint,
                                               RegisteredUsers bigint)"""

connect_data.execute(create_table9)
connection.commit()

insert_query9='''INSERT INTO top_user(states, Years, Quarter,pincodes,RegisteredUsers) VALUES (%s,%s,%s,%s,%s)'''

datas9=top_user.values.tolist()
connect_data.executemany(insert_query9,datas9)
connection.commit()

### DataFrame creation get data in mysql

In [24]:

##mysql connection
connection = pymysql.connect(
             host="localhost",
             user="root",
             password="adhi",
             database="phonepe")

connect_data=connection.cursor()

#aggregated insurance df
connect_data.execute("SELECT * FROM aggre_insurance")
connection.commit()
table1=connect_data.fetchall()

aggregated_insurance_df=pd.DataFrame(table1,columns=("states", "Years", "Quarter","Transaction_type","Transaction_count","Transaction_amount"))

In [ ]:
aggregated_insurance_df

In [26]:
#aggregated transaction df
connect_data.execute("SELECT * FROM aggre_transaction")
connection.commit()
table2=connect_data.fetchall()

aggregated_transaction_df=pd.DataFrame(table2,columns=("states", "Years", "Quarter","Transaction_type","Transaction_count","Transaction_amount"))

In [ ]:
aggregated_transaction_df

In [28]:
#aggregated user df
connect_data.execute("SELECT * FROM aggre_user")
connection.commit()
table3=connect_data.fetchall()

aggregated_user_df=pd.DataFrame(table3,columns=("states","Years","Quarter","Brands","Transaction_count","Precentage"))

In [ ]:
aggregated_user_df

In [30]:
#map insurance df
connect_data.execute("SELECT * FROM map_insurance")
connection.commit()
table4=connect_data.fetchall()

map_insurance_df=pd.DataFrame(table4,columns=("states","Years","Quarter","Districts","Transaction_count","Transaction_amount"))

In [ ]:
map_insurance_df

In [32]:
#map transaction df
connect_data.execute("SELECT * FROM map_transaction")
connection.commit()
table5=connect_data.fetchall()

map_transanction_df=pd.DataFrame(table5,columns=("states","Years","Quarter","Districts","Transaction_count","Transaction_amount"))

In [ ]:
map_transanction_df

In [34]:
#map user df
connect_data.execute("SELECT * FROM map_user")
connection.commit()
table6=connect_data.fetchall()

map_user_df=pd.DataFrame(table6,columns=("states", "Years","Quarter","Districts","RegisteredUsers","AppOpens"))

In [ ]:
map_user_df

In [36]:
#top insurance df
connect_data.execute("SELECT * FROM top_insurance")
connection.commit()
table7=connect_data.fetchall()

top_insurance_df=pd.DataFrame(table7,columns=("states", "Years","Quarter","pincodes","Transaction_count","Transaction_amount"))

In [ ]:
top_insurance_df

In [38]:
#top transaction df
connect_data.execute("SELECT * FROM top_transaction")
connection.commit()
table8=connect_data.fetchall()

top_transaction_df=pd.DataFrame(table8,columns=("states", "Years","Quarter","pincodes","Transaction_count","Transaction_amount"))

In [ ]:
top_transaction_df

In [40]:
#top user df
connect_data.execute("SELECT * FROM top_user")
connection.commit()
table9=connect_data.fetchall()

top_user_df=pd.DataFrame(table9,columns=("states", "Years","Quarter","pincodes","RegisteredUsers"))

In [ ]:
top_user_df

### Functions creation  
Aggregate  data visualization

In [42]:
#aggre_insu_year_count_amount
def ty_count_amount(df , years):
    t_acy=df[df["Years"] == years]
    t_acy.reset_index(drop=True, inplace=True)

    t_acyg=t_acy.groupby("states")[["Transaction_count","Transaction_amount"]].sum()
    t_acyg.reset_index(inplace=True)

    fig_count = px.bar(t_acyg, x="states", y="Transaction_count", title=f"{years} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered,height=650,width=600)
    fig_count.show()

    fig_amount = px.bar(t_acyg, x="states", y="Transaction_amount", title=f"{years} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data=json.loads(response.content)
    state_names=[]
    for i in data["features"]:
        state_names.append(i["properties"]["ST_NM"])

    state_names.sort()

    fig_india1=px.choropleth(t_acyg, geojson=data,locations="states",featureidkey="properties.ST_NM",
                            color="Transaction_count",color_continuous_scale="Rainbow",
                            range_color=(t_acyg["Transaction_count"].min(),t_acyg["Transaction_count"].max()),
                            hover_name="states",title=f"{years} TRANSACTION COUNT",fitbounds="locations",height=600,width=600)
    fig_india1.update_geos(visible=False)
    fig_india1.show()

    fig_india2=px.choropleth(t_acyg, geojson=data,locations="states",featureidkey="properties.ST_NM",
                            color="Transaction_amount",color_continuous_scale="Rainbow",
                            range_color=(t_acyg["Transaction_amount"].min(),t_acyg["Transaction_amount"].max()),
                            hover_name="states",title=f"{years} TRANSACTION AMOUNT",fitbounds="locations",height=600,width=600)
    fig_india2.update_geos(visible=False)
    fig_india2.show()

    return t_acy

In [ ]:
tac_y=ty_count_amount(aggregated_insurance_df,2020)

In [44]:
#aggre_insu_year_count_amount_quarter 
def ty_Q_count_amount(df , Quarter):
    tac_y_q=df[df["Quarter"] == Quarter]
    tac_y_q.reset_index(drop=True, inplace=True)

    t_acyg=tac_y_q.groupby("states")[["Transaction_count","Transaction_amount"]].sum()
    t_acyg.reset_index(inplace=True)

    fig_count = px.bar(t_acyg, x="states", y="Transaction_count", title=f"{tac_y_q['Years'].unique()} YEAR {Quarter} QUARTER TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered,height=650,width=600)
    fig_count.show()

    fig_amount = px.bar(t_acyg, x="states", y="Transaction_amount", title=f"{tac_y_q['Years'].unique()} YEAR {Quarter} QUARTER  TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data=json.loads(response.content)
    state_names=[]
    for i in data["features"]:
        state_names.append(i["properties"]["ST_NM"])

    state_names.sort()

    fig_india1=px.choropleth(t_acyg, geojson=data,locations="states",featureidkey="properties.ST_NM",
                            color="Transaction_count",color_continuous_scale="Rainbow",
                            range_color=(t_acyg["Transaction_count"].min(),t_acyg["Transaction_count"].max()),
                            hover_name="states",title=f"{tac_y_q['Years'].unique()} YEAR {Quarter} QUARTER  TRANSACTION COUNT",fitbounds="locations",height=600,width=600)
    fig_india1.update_geos(visible=False)
    fig_india1.show()

    fig_india2=px.choropleth(t_acyg, geojson=data,locations="states",featureidkey="properties.ST_NM",
                            color="Transaction_amount",color_continuous_scale="Rainbow",
                            range_color=(t_acyg["Transaction_amount"].min(),t_acyg["Transaction_amount"].max()),
                            hover_name="states",title=f"{tac_y_q['Years'].unique()} YEAR {Quarter} QUARTER  TRANSACTION AMOUNT",fitbounds="locations",height=600,width=600)
    fig_india2.update_geos(visible=False)
    fig_india2.show()

    return tac_y_q

In [ ]:
ty_Q_count_amount(tac_y , 2)

In [ ]:
at_tac_y=ty_count_amount(aggregated_transaction_df ,2020)

In [47]:
#Aggre_trans_transaction type analysis
def aggregated_transaction_type(df,state):
    t_acy=df[df["states"] == state]
    t_acy.reset_index(drop=True, inplace=True)

    t_acyg=t_acy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    t_acyg.reset_index(inplace=True)
    t_acyg

    fig_pie_1 = px.pie(data_frame =t_acyg,names="Transaction_type",values="Transaction_amount",
                    width=600,title=f"{state.upper()} TRANSACTION AMOUNT",hole=0.5,color_discrete_sequence=px.colors.sequential.RdPu_r)
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame =t_acyg,names="Transaction_type",values="Transaction_count",
                    width=600,title=f"{state.upper()} TRANSACTION COUNT",hole=0.5,color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_pie_2.show()

In [ ]:
aggregated_transaction_type(at_tac_y,"Assam")

In [ ]:
at_tac_y=ty_count_amount(aggregated_transaction_df ,2021)

In [ ]:
aggre_at_tac_y_q = ty_Q_count_amount(at_tac_y, 2)

In [51]:
#aggregated user year analysis
def aggre_user_year(df,year):
    aggre_uy= df[df["Years"]== year]
    aggre_uy.reset_index(drop = True,inplace = True)

    aggre_uyg = pd.DataFrame(aggre_uy.groupby("Brands")["Transaction_count"].sum())
    aggre_uyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(aggre_uyg, x="Brands", y="Transaction_count", title=f"{year}BRANDS AND TRANSACTION COUNT", 
                        width=800, color_discrete_sequence= px.colors.sequential.Hot,hover_name="Brands")
    fig_bar_1.show()

    return aggre_uy

In [ ]:
aggre_user_y=aggre_user_year(aggregated_user_df,2020)

In [53]:
#aggregated user year quarter analysis
def aggre_user_year_q(df,Quarter):
    aggre_uyq= df[df["Quarter"]== Quarter]
    aggre_uyq.reset_index(drop = True,inplace = True)

    aggre_uyqg=pd.DataFrame(aggre_uyq.groupby("Brands")["Transaction_count"].sum())
    aggre_uyqg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aggre_uyqg, x="Brands", y="Transaction_count", title=f"{Quarter} QUARTER BRANDS AND TRANSACTION COUNT", 
                            width=800, color_discrete_sequence= px.colors.sequential.Viridis,hover_name="Brands")
    fig_bar_1.show()

    return aggre_uyq

In [ ]:
aggre_user_yq=aggre_user_year_q(aggre_user_y,3)

In [55]:
#aggre user year quarter state analysis
def aggre_user_year_qs(df, state):
    aggre_uyqs= df[df["states"]== state]
    aggre_uyqs.reset_index(drop= True, inplace= True)

    fig_bar_1 = px.bar(aggre_uyqs, x= "Brands", y= "Transaction_count",title = f"{state} BRANDS AND TRANSACTION COUNT",
                        width=800, color_discrete_sequence= px.colors.sequential.Jet_r)
    fig_bar_1.show()

In [ ]:
aggre_user_year_qs(aggre_user_yq, "Tamil Nadu")

### map data visualization

In [ ]:
#map insurance analysis
map_in_tac_y=ty_count_amount(map_insurance_df,2021)

In [58]:
#map district analysis
def map_insu_district(df,state):
    m_acd=df[df["states"] == state]
    m_acd.reset_index(drop=True, inplace=True)

    m_acdg=m_acd.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    m_acdg.reset_index(inplace=True)

    fig_bar_1 = px.bar(m_acdg, x="Transaction_count", y= "Districts", orientation="h",height=600,
                            title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_1.show()
    
    fig_bar_2 = px.bar(m_acdg, x="Transaction_amount", y= "Districts", orientation="h",height=600,
                            title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.Reds_r)
    fig_bar_2.show()

In [ ]:
map_insu_district(map_in_tac_y,"Tamil Nadu")

In [ ]:
#map  insu quarter analysis
map_insu_tac_yq = ty_Q_count_amount(map_in_tac_y, 3)

In [ ]:
#map insu year quarter  analysis
map_insu_district(map_insu_tac_yq ,"Tamil Nadu")

In [ ]:
# map transaction analysis
map_trans_tac_y=ty_count_amount(map_transanction_df,2021)

In [ ]:
#map transaction analysis states
map_insu_district(map_trans_tac_y,"Tamil Nadu")

In [ ]:
#map transaction quartet analysis
map_trans_tac_yq = ty_Q_count_amount(map_trans_tac_y, 3)

In [ ]:
#map trans year quarter  analysis
map_insu_district(map_trans_tac_yq ,"Tamil Nadu")

In [66]:
#map user year analysis
def map_user_year(df,year):
    map_uy= df[df["Years"]== year]
    map_uy.reset_index(drop = True,inplace = True)

    map_uyg = pd.DataFrame(map_uy.groupby("states")[["RegisteredUsers","AppOpens"]].sum())
    map_uyg.reset_index(inplace = True)

    fig_line_1 = px.line(map_uyg, x ="states",y=["RegisteredUsers","AppOpens"],
                        title=f"{year} REGISTERED USERS AND APPOPENS",width = 1000, height=800, markers= True,color_discrete_sequence=["red", "blue"])
    fig_line_1.show()

    return map_uy

In [ ]:
map_user_y = map_user_year(map_user_df,2020)

In [68]:
#map user quarter analysis
def map_user_year_quarter(df,quarter):
    map_uyq= df[df["Quarter"]== quarter]
    map_uyq.reset_index(drop = True,inplace = True)

    map_uyqg = pd.DataFrame(map_uyq.groupby("states")[["RegisteredUsers","AppOpens"]].sum())
    map_uyqg.reset_index(inplace = True)

    fig_line_1 = px.line(map_uyqg, x ="states",y=["RegisteredUsers","AppOpens"],
                        title=f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USERS AND APPOPENS",width = 1000, height=800, markers= True,color_discrete_sequence=["orange", "darkblue"])
    fig_line_1.show()

    return map_uyq

In [ ]:
map_user_yq=map_user_year_quarter(map_user_y ,3)

In [70]:
#map user states analysis
def map_user_year_quarter_states(df,states):
    map_uyqs= df[df["states"]== states]
    map_uyqs.reset_index(drop = True,inplace = True)

    fig_bar_1=px.bar(map_uyqs, x= "RegisteredUsers", y= "Districts", orientation="h",height=800,
                    title=f"{states.upper()} REGISTERED USERS", color_discrete_sequence=px.colors.sequential.Rainbow) 
    fig_bar_1.show()

    fig_bar_2=px.bar(map_uyqs, x= "AppOpens", y= "Districts", orientation="h",height=800,
                    title=f"{states.upper()} APPOPENS USERS", color_discrete_sequence=px.colors.sequential.Oranges_r) 
    fig_bar_2.show()

In [ ]:
map_user_year_quarter_states(map_user_yq,"Tamil Nadu")

### Top data visualization

In [ ]:
#top insurance analysis
Top_insu_y = ty_count_amount(top_insurance_df,2020)

In [73]:
# top insu states pincode analysis
def top_in_year_states(df,states):
    top_in_ys= df[df["states"]== states]
    top_in_ys.reset_index(drop = True,inplace = True)

    top_in_ysg = pd.DataFrame(top_in_ys.groupby("pincodes")[["Transaction_count","Transaction_amount"]].sum())
    top_in_ysg.reset_index(inplace = True)

    fig_bar_1=px.bar(top_in_ys, x= "Quarter", y= "Transaction_amount",height=800,hover_data="pincodes",
                    title=f"{states.upper()} TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.GnBu_r) 
    fig_bar_1.show()

    fig_bar_2=px.bar(top_in_ys, x= "Quarter", y= "Transaction_count",height=800,hover_data="pincodes",
                    title=f"{states.upper()} TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.Agsunset_r) 
    fig_bar_2.show()

In [ ]:
top_in_year_states(Top_insu_y ,"Tamil Nadu")

In [ ]:
top_insu_y_q=ty_Q_count_amount(Top_insu_y ,3)

In [ ]:
# top transaction analysis
Top_trans_y_ta = ty_count_amount(top_transaction_df,2020)

In [ ]:
top_in_year_states(Top_trans_y_ta,"Tamil Nadu")

In [ ]:
top_trans_y_q=ty_Q_count_amount(Top_trans_y_ta ,3)

In [79]:
#top user analysis
def top_user_year(df,years):
    top_uy= df[df["Years"]== years]
    top_uy.reset_index(drop = True,inplace = True)

    top_uyg = pd.DataFrame(top_uy.groupby(["states", "Quarter"])["RegisteredUsers"].sum())
    top_uyg.reset_index(inplace = True)

    fig_bar_1=px.bar(top_uyg, x="states", y="RegisteredUsers", hover_data= "Quarter", width=1000, height=800,
                       title= f"{years} REGISTERED USER",hover_name="states",color_discrete_sequence=px.colors.sequential.Blugrn_r)
    fig_bar_1.show()

    return top_uy

In [ ]:
top_user_y=top_user_year(top_user_df,2020)

In [81]:
#top user states pincode analysis
def top_user_ys(df,state):
    top_uys= df[df["states"]==state]
    top_uys.reset_index(drop = True,inplace = True)

    fig_bar_1= px.bar(top_uys, x="Quarter", y= "RegisteredUsers",title="REGISTERED USER, PINCODE, QUARTER",
                       width= 1000, height=1000,color="RegisteredUsers", hover_data="pincodes",
                       color_continuous_scale=px.colors.sequential.Magenta)
    fig_bar_1.show()

In [ ]:
top_user_ys(top_user_y,"Tamil Nadu")

### Top charts

In [83]:
def top_chart_ta(table_name):
    #mysql connection
    connection = pymysql.connect(
                host="localhost",
                user="root",
                password="adhi",
                database="phonepe")

    connect_data=connection.cursor()

    #plot1
    query1 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount DESC
                LIMIT 10;
             '''

    connect_data.execute(query1)
    table = connect_data.fetchall()
    connection.commit()

    df_1 = pd.DataFrame(table,columns=("states","transaction_amount"))

    fig_bar_df1= px.bar(df_1, x="states", y= "transaction_amount",title="TOP 10 TRANSACTION AMOUNT",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_bar_df1.show()

    #plot 2
    query2 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount 
                LIMIT 10;
              '''

    connect_data.execute(query2)
    table2 = connect_data.fetchall()
    connection.commit()

    df_2 = pd.DataFrame(table2,columns=("states","transaction_amount"))

    fig_bar_df2= px.bar(df_2, x="states", y= "transaction_amount",title="LAST 10 TRANSACTION AMOUNT",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl_r)
    fig_bar_df2.show()

    #plot 3
    query3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount;
             '''

    connect_data.execute(query3)
    table3 = connect_data.fetchall()
    connection.commit()

    df_3 = pd.DataFrame(table3,columns=("states","transaction_amount"))

    fig_bar_df3= px.bar(df_3, y="states", x= "transaction_amount",title="AVERAGE TRANSACTION AMOUNT",hover_name="states",orientation="h",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_bar_df3.show()

In [ ]:
top_chart_ta("aggre_insurance")

In [85]:
def top_chart_t_count(table_name):
    #mysql connection
    connection = pymysql.connect(
                host="localhost",
                user="root",
                password="adhi",
                database="phonepe")

    connect_data=connection.cursor()

    #plot1
    query1 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count DESC
                LIMIT 10;
             '''

    connect_data.execute(query1)
    table = connect_data.fetchall()
    connection.commit()

    df_1 = pd.DataFrame(table,columns=("states","transaction_count"))

    fig_bar_df1= px.bar(df_1, x="states", y= "transaction_count",title="TOP 10 TRANSACTION COUNT",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_bar_df1.show()

    #plot 2
    query2 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count 
                LIMIT 10;
              '''

    connect_data.execute(query2)
    table2 = connect_data.fetchall()
    connection.commit()

    df_2 = pd.DataFrame(table2,columns=("states","transaction_count"))

    fig_bar_df2= px.bar(df_2, x="states", y= "transaction_count",title="LAST 10 TRANSACTION COUNT",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl_r)
    fig_bar_df2.show()

    #plot 3
    query3 = f'''SELECT states, AVG(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count;
             '''

    connect_data.execute(query3)
    table3 = connect_data.fetchall()
    connection.commit()

    df_3 = pd.DataFrame(table3,columns=("states","transaction_count"))

    fig_bar_df3= px.bar(df_3, y="states", x= "transaction_count",title="AVERAGE TRANSACTION COUNT",hover_name="states",orientation="h",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_bar_df3.show()

In [ ]:
top_chart_t_count("aggre_insurance")

In [87]:
def top_chart_register_user(table_name,state):
    #mysql connection
    connection = pymysql.connect(
                host="localhost",
                user="root",
                password="adhi",
                database="phonepe")

    connect_data=connection.cursor()

    #plot1
    query1 = f'''SELECT districts, SUM(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                WHERE states='{state}'
                GROUP BY districts
                ORDER BY RegisteredUsers DESC
                LIMIT 10;
             '''

    connect_data.execute(query1)
    table = connect_data.fetchall()
    connection.commit()

    df_1 = pd.DataFrame(table,columns=("districts","RegisteredUsers"))

    fig_bar_df1= px.bar(df_1, x="districts", y= "RegisteredUsers",title="TOP 10 REGISTERED USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_bar_df1.show()

    #plot 2
    query2 = f'''SELECT districts, SUM(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY RegisteredUsers
                LIMIT 10;
             '''

    connect_data.execute(query2)
    table = connect_data.fetchall()
    connection.commit()

    df_2 = pd.DataFrame(table,columns=("districts","RegisteredUsers"))

    fig_bar_df2= px.bar(df_2, x="districts", y= "RegisteredUsers",title="LAST 10 REGISTERED USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl_r)
    fig_bar_df2.show()

    #plot 3
    query3 = f'''SELECT districts, AVG(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY RegisteredUsers;
             '''

    connect_data.execute(query3)
    table = connect_data.fetchall()
    connection.commit()

    df_3 = pd.DataFrame(table,columns=("districts","RegisteredUsers"))

    fig_bar_df3= px.bar(df_3, x="districts", y= "RegisteredUsers",title="AVERAGE REGISTERED USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Blues_r)
    fig_bar_df3.show()

In [ ]:
top_chart_register_user("map_user","Tamil Nadu")

In [89]:
def top_chart_appopens(table_name,state):
    #mysql connection
    connection = pymysql.connect(
                host="localhost",
                user="root",
                password="adhi",
                database="phonepe")


    connect_data=connection.cursor()

    #plot1
    query1 = f'''SELECT districts, SUM(AppOpens) AS AppOpens
                FROM {table_name}
                WHERE states='{state}'
                GROUP BY districts
                ORDER BY AppOpens DESC
                LIMIT 10;
             '''

    connect_data.execute(query1)
    table = connect_data.fetchall()
    connection.commit()

    df_1 = pd.DataFrame(table,columns=("districts","AppOpens"))

    fig_bar_df1= px.bar(df_1, x="districts", y= "AppOpens",title="TOP 10 APPOPENS USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_bar_df1.show()

    #plot 2
    query2 = f'''SELECT districts, SUM(AppOpens) AS AppOpens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY AppOpens
                LIMIT 10;
             '''

    connect_data.execute(query2)
    table = connect_data.fetchall()
    connection.commit()

    df_2 = pd.DataFrame(table,columns=("districts","AppOpens"))

    fig_bar_df2= px.bar(df_2, x="districts", y= "AppOpens",title="LAST 10 APPOPENS USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl_r)
    fig_bar_df2.show()

    #plot 3
    query3 = f'''SELECT districts, AVG(AppOpens) AS AppOpens
                FROM {table_name}
                WHERE states= '{state}'
                GROUP BY districts
                ORDER BY AppOpens;
             '''

    connect_data.execute(query3)
    table = connect_data.fetchall()
    connection.commit()

    df_3 = pd.DataFrame(table,columns=("districts","AppOpens"))

    fig_bar_df3= px.bar(df_3, x="districts", y= "AppOpens",title="AVERAGE APPOPENS USER",hover_name="districts",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Blues_r)
    fig_bar_df3.show()

In [ ]:
top_chart_appopens("map_user","Tamil Nadu")

In [91]:
def top_chart_top_register_users(table_name):
    #mysql connection
    connection = pymysql.connect(
                host="localhost",
                user="root",
                password="adhi",
                database="phonepe")

    connect_data=connection.cursor()

    #plot1
    query1 = f'''SELECT states, SUM(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                GROUP BY states
                ORDER BY RegisteredUsers DESC
                LIMIT 10;
             '''

    connect_data.execute(query1)
    table = connect_data.fetchall()
    connection.commit()

    df_1 = pd.DataFrame(table,columns=("states","RegisteredUsers"))

    fig_bar_df1= px.bar(df_1, x="states", y= "RegisteredUsers",title="TOP 10 REGISTERED USER",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_bar_df1.show()

    #plot 2
    query2 = f'''SELECT states, SUM(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                GROUP BY states
                ORDER BY RegisteredUsers 
                LIMIT 10;
             '''

    connect_data.execute(query2)
    table = connect_data.fetchall()
    connection.commit()

    df_2 = pd.DataFrame(table,columns=("states","RegisteredUsers"))

    fig_bar_df2= px.bar(df_2, x="states", y= "RegisteredUsers",title="LAST 10 REGISTERED USER",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Aggrnyl_r)
    fig_bar_df2.show()

    #plot 3
    query3 = f'''SELECT states, AVG(RegisteredUsers) AS RegisteredUsers
                FROM {table_name}
                GROUP BY states
                ORDER BY RegisteredUsers;
             '''

    connect_data.execute(query3)
    table = connect_data.fetchall()
    connection.commit()

    df_3 = pd.DataFrame(table,columns=("states","RegisteredUsers"))

    fig_bar_df3= px.bar(df_3, x="states", y= "RegisteredUsers",title="AVERAGE REGISTERED USER",hover_name="states",
                        width= 600, height=650,color_discrete_sequence=px.colors.sequential.Blues_r)
    fig_bar_df3.show()

In [ ]:
top_chart_top_register_users("top_user")